In [1]:
# loading the data 

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data =pd.read_csv('events_log.csv')
data.head()

,uuid,timestamp,session_id,group,action,checkin,page_id,n_results,result_position
0,00000736167c507e8ec225bd9e71f9e5,2.016030e+13,78245c2c3fba013a,b,searchResultPage,NaN,cbeb66d1bc1f1bc2,5.0,NaN
1,00000c69fe345268935463abbfa5d5b3,2.016031e+13,c559c3be98dca8a4,a,searchResultPage,NaN,eb658e8722aad674,10.0,NaN
2,00003bfdab715ee59077a3670331b787,2.016030e+13,760bf89817ce4b08,a,checkin,30.0,f99a9fc1f7fdd21e,NaN,NaN
3,0000465cd7c35ad2bdeafec953e08c1a,2.016030e+13,fb905603d31b2071,a,checkin,60.0,e5626962a6939a75,NaN,10.0
4,000050cbb4ef5b42b16c4d2cf69e6358,2.016030e+13,c2bf5e5172a892dc,a,checkin,30.0,787dd6a4c371cbf9,NaN,NaN

In [2]:
#Coverting the timestamp to panda datetime
data['timestamp'] = data['timestamp'].apply(lambda x: '{:.2f}'.format(x))
data.timestamp = pd.Series(data.timestamp).str.replace(r'\.00', '').str.strip()
data['timestamp']=pd.to_datetime(data['timestamp'])
data.timestamp[:4]

0   2016-03-01 10:38:42
1   2016-03-07 00:52:26
2   2016-03-02 14:53:05
3   2016-03-02 22:27:01
Name: timestamp, dtype: datetime64[ns]